@import '../../theme';
.container {
  text-align:center;
  display:grid;
  width:50% auto;
}
.mat-grid-list {
 margin:auto;
 width:50%;

}
.mat-grid-tile {
  margin: auto;
  width: 100%;

  text-align: center;
  background-color: map-get($darkgrey,300);
}
.color-light {
  background-color: map-get($lightgrey,500);
}

.color-dark {
  background-color: map-get($darkgrey,900);
}

