<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div class="leftColumn">
  <button class="material-icons" mat-icon-button [matMenuTriggerFor]="menu">
    <i class="material-icons">settings</i>
  </button>
  <mat-menu #menu="matMenu">
    <mat-checkbox (change)="showSelected()" *ngFor="let page of pages"
                  class="example-margin" [(ngModel)]="page.isChecked">
      {{ page.display }}
    </mat-checkbox>
  </mat-menu>

  <ul>
    <li>
      <button mat-button>
        <span matTooltip="Vera's main site" matTooltipPosition="below">
          <a target="_blank" href="http://verawaterandpower.com/">
            <img src="../assets/veraLogo.png" />
          </a>
        </span>
      </button>
    </li> <!-- Vera main page button-->
    <li><button mat-button><a routerLink="">Home</a></button></li> <!-- Home button-->
    <li><button mat-button (click)="openModal()"><a>Outage Report</a></button></li><!-- outage report -->
    <li><button mat-button><a routerLink="./safety">Safety</a></button></li>
  </ul>
</div>


<div class="leftColumn">
  <router-outlet></router-outlet>
</div>
<div class="extras">
  <div class="extras">
    <div [ngStyle]="{'display':mailing}" class="container">
      <app-mailing></app-mailing>

    </div>
    <div [ngStyle]="{'display':outage}" class="container">
      <app-outage></app-outage>
    </div>
  </div>
</div>

