@import '../node_modules/@angular/material/_theming';

@include mat-core();

/* primary color dark blue */
$darkblue: (
  50 : #e3e7e8,
  100 : #bac2c6,
  200 : #8c9aa0,
  300 : #5d7179,
  400 : #3b525d,
  500 : #183440,
  600 : #152f3a,
  700 : #112732,
  800 : #0e212a,
  900 : #08151c,
  A100 : #5cb9ff,
  A200 : #29a3ff,
  A400 : #008cf5,
  A700 : #007ddb,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
    )
);


/* secondary color dark grey */
$darkgrey: (
  50 : #f0f3f5,
  100 : #d9e2e6,
  200 : #bfcfd6,
  300 : #a5bbc6,
  400 : #92adb9,
  500 : #7f9ead,
  600 : #7796a6,
  700 : #6c8c9c,
  800 : #628293,
  900 : #4f7083,
  A100 : #e5f6ff,
  A200 : #b3e3ff,
  A400 : #80d0ff,
  A700 : #66c6ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
/* accent color teal*/
$teal: ( 50 : #e1f5f3,
  100 : #b3e5e1,
  200 : #81d4ce,
  300 : #4ec2ba,
  400 : #28b5ab,
  500 : #02a89c,
  600 : #02a094,
  700 : #01978a,
  800 : #018d80,
  900 : #017d6e,
  A100 : #aafff3,
  A200 : #77ffec,
  A400 : #44ffe5,
  A700 : #2affe2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


/* warn color red*/
$red: (
  50 : #f5e4e5,
  100 : #e6bcbd,
  200 : #d68f91,
  300 : #c56265,
  400 : #b84044,
  500 : #ac1e23,
  600 : #a51a1f,
  700 : #9b161a,
  800 : #921215,
  900 : #820a0c,
  A100 : #ffb2b2,
  A200 : #ff7f80,
  A400 : #ff4c4d,
  A700 : #ff3234,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

/* lighter light grey*/
$lightgrey: (
    50 : #fdfdfd,
    100 : #fafafa,
    200 : #f7f7f7,
    300 : #f3f4f4,
    400 : #f1f1f1,
    500 : #eeefef,
    600 : #eceded,
    700 : #e9ebeb,
    800 : #e7e8e8,
    900 : #e2e4e4,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);




$vera-primary: mat-palette($darkblue);
$vera-accent: mat-palette($teal);
$vera-warn: mat-palette($red);
$vera-theme: mat-light-theme($vera-primary,$vera-accent,$vera-warn);

@include angular-material-theme($vera-theme);
