@import '../../theme';

.outage-map {
  display: inline-flex;
  background-color: map-get($darkblue,300);
  text-align: center;
  width:80%;
}
p{
  text-align:center;
}
img{
  width:80%;
}
.side-menu {
  float:left;
  display:inline;
  background-color: map-get($darkblue,700);
  color: map-get($teal,500);
  width: 10%;
  text-align:center;
}
.mat-menu {
  background-color: map-get($darkblue,300);
  color: map-get($teal,500);
}
.mat-menu-item {
  background-color: map-get($darkblue,300);
  color: map-get($teal,500);
}
