
@import "../../theme";

mat-accordion {
  align-content: center;
}

mat-expansion-panel {
  width: 80vw;
  background-color: map-get($darkblue,500);
  color: map-get($darkgrey,500);
}

mat-checkbox {
  margin: auto;
  padding: 1vw;
}

.radio-group {
  display: block;
  flex-direction: row;
}
.example-margin {
  margin: 5px;
}

.container {
  background-color: map-get($lightgrey,900);
  margin: 2vh;
  padding-bottom: .5vh;
  color: map-get($darkblue,500);
}
div {
  align-content:center;
}
button {
  color: map-get($teal,500);
  font-weight: bold;
  font-size: medium;
  border: 2px;
  border-color: map-get($teal,500);
}
