
//@import "../../theme";

mat-accordion {
  align-content: center;
}

mat-expansion-panel {
  width: 80vw;
  //background-color: mat-color($vera-primary);
  //color: mat-color($darkgrey);
}

mat-checkbox {
  margin: auto;
  padding: 1vw;
}

.radio-group {
  display: block;
  flex-direction: row;
}
.example-margin {
  margin: 5px;
}

.container {
  //background-color: $vera-primary;
  margin:2vh;
  padding-bottom:.5vh;
}
div {
  align-content:center;
}
button {
 // color: mat-color($vera-accent);
  font-weight: bold;
  font-size: medium;
  border: 2px;
 // border-color: mat-color($vera-accent);
}
