
<div class="leftColumn">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Query Parameters
        </mat-panel-title>
        <mat-panel-description>
          select what field you want to filter by
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox *ngFor="let check of checks"
                    class="example-margin" [(ngModel)]="check.isChecked">{{ check.display }}</mat-checkbox>
      <button mat-button (click)="showSelected()">Submit</button>

    </mat-expansion-panel>

  </mat-accordion>
  <div>
    <div [ngStyle]="{'display':postalCh}" class="container">
      <p><span matTooltip="The status of the account" matTooltipPosition="after">Status</span></p>
      <mat-radio-group class="radio-group" [(ngModel)]="serviceType">
        <mat-radio-button (change)="getServiceType('water')" class="example-margin" value="water">Water</mat-radio-button>
        <mat-radio-button (change)="getServiceType('eletric')" class="example-margin" value="eletric">Eletric</mat-radio-button>
        <mat-radio-button (change)="getServiceType('both')" class="example-margin" value="both">Both</mat-radio-button>
      </mat-radio-group>
    </div>
    <!--water customers-->
    <div [ngStyle]="{'display':waterCh}" class="container">
      <p><span matTooltip="Type of property for water customers" matTooltipPosition="after">Water Property Type</span></p>
      <mat-radio-group class="radio-group" [(ngModel)]="waterPropertyType">
        <mat-radio-button class="example-margin" value="residential">Residential</mat-radio-button>
        <mat-radio-button class="example-margin" value="residentialBooster">Residential Booster</mat-radio-button>
        <mat-radio-button class="example-margin" value="general">General</mat-radio-button>
        <mat-radio-button class="example-margin" value="generalBooster">General Booster</mat-radio-button>
      </mat-radio-group>
    </div>
    <!--eletric customers-->
    <div [ngStyle]="{'display':eletricCh}" class="container">
      <p><span matTooltip="Type of property for eletric customers" matTooltipPosition="after">Eletric Property Type</span></p>
      <mat-radio-group class="radio-group" [(ngModel)]="eletricPropertyType">
        <mat-radio-button class="example-margin" value="residential">Residential</mat-radio-button>
        <mat-radio-button class="example-margin" value="commercial">Commercial</mat-radio-button>
        <mat-radio-button class="example-margin" value="both">Both</mat-radio-button>
      </mat-radio-group>
      <p><span matTooltip="The type of resident at the address" matTooltipPosition="after">Type of Resident</span></p>
      <mat-radio-group class="radio-group" [(ngModel)]="residentType">
        <mat-radio-button class="example-margin" value="owner">Owner</mat-radio-button>
        <mat-radio-button class="example-margin" value="tennent">Tennent</mat-radio-button>
        <mat-radio-button class="example-margin" value="both">Both</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div>
    <button mat-button (click)="getReport()">Get Report</button>
  </div>
  <div [ngStyle]="{'display':received}" class="container">
    <p>The returned values are</p>
    <table>
      <tr *ngFor="let row of report">
        {{ row }}
      </tr>
    </table>
  </div>
</div>
<div class="rightColumn">
  <p>placeholder for other content</p>
</div>

