<div style="align-content:center;">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Query Parameters
        </mat-panel-title>
        <mat-panel-description>
          select what field you want to filter by
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-checkbox *ngFor="let check of checks"
                    class="example-margin" [(ngModel)]="check.isChecked">{{ check.display }}</mat-checkbox>
      <button mat-button (click)="showSelected()">Submit</button>

    </mat-expansion-panel>

  </mat-accordion>
  <div [ngStyle]="{'display':statusCh}" class="container">
    <p><span matTooltip="The status of the account" matTooltipPosition="after">Status</span></p>
    <mat-radio-group class="radio-group" [(ngModel)]="status">
      <mat-radio-button class="example-margin" value="active">Active</mat-radio-button>
      <mat-radio-button class="example-margin" value="disabled">Disabled</mat-radio-button>
      <mat-radio-button class="example-margin" value="deleted">Deleted</mat-radio-button>
      <mat-radio-button class="example-margin" value="all">All</mat-radio-button>
    </mat-radio-group>
  </div>

  <div [ngStyle]="{'display':serviceCh}" class="container">
    <p><span matTooltip="The type of service Vera provides for the account" matTooltipPosition="after">Service Type</span></p>
    <mat-radio-group class="radio-group" [(ngModel)]="serviceType">
      <mat-radio-button class="example-margin" value="water">Water</mat-radio-button>
      <mat-radio-button class="example-margin" value="eletric">Eletric</mat-radio-button>
      <mat-radio-button class="example-margin" value="both">Both</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <button mat-button (click)="getReport()">Get Report</button>
  </div>
  <div [ngStyle]="{'display':received}" class="container">
    <p>The returned values are</p>
    <table>
      <tr *ngFor="let row of report">
        {{ row }}
      </tr>
    </table>
  </div>

</div>
