@import '../../theme';

mat-accordion {
  align-content: center;
}

mat-expansion-panel {
  width: 80vw;
  background-color: $palette-primary-300;
  color: $palette-secondary-300;
}

mat-checkbox {
  margin: auto;
  padding: 1vw;
}

.selected-value {
  margin: 15px 0;
  color: $palette-accent-500;
}

.container {
  background-color: $palette-primary-300;
  margin:2vh;
  padding-bottom:.5vh;
}
div {
  align-content:center;
}
button {
  color: $palette-accent-500;
  font-weight: bold;
  font-size: medium;
  border: 2px;
  border-color: $palette-accent-500;
}
